@page
@model OdeToFood.Pages.Restaurantes.ListaModel
@{
}
<h1>Restaurantes</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Nome Restaurante" asp-for="SearchTerm" />
            <button class="btn btn-outline-secondary">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>

<table class="table">
    @foreach(var restaurante in Model.Restaurantes)
            {
                <tr>
                    <td>@restaurante.Nome</td>
                    <td>@restaurante.Localizacao</td>
                    <td>@restaurante.Cozinha</td>
                    <td>
                        <a class="btn btn-lg"
                           asp-page="./Detalhes"
                           asp-route-restauranteId="@restaurante.Id">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <a class="btn btn-lg"
                           asp-page="./Editar"
                           asp-route-restauranteId="@restaurante.Id">
                            <i class="far fa-edit"></i>
                        </a>
                        <a class="btn btn-lg"
                           asp-page="./Deletar"
                           asp-route-restauranteId="@restaurante.Id">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            }
</table>

<a asp-page=".\Editar" class="btn btn-primary">
    <i class="fas fa-plus-circle"></i> Novo Restaurante
</a>

    @*@Model permite acessar as propriedades do controller*@
    @*O @ permite que eu transcreva HTML em C#*@
